Architecture: windows_x64
Built-Using: nipkg
CompatibilityVersion: 170501
Depends: ni-labview-nxg-2.0.0 (>= 5.2.0.32842), ni-labview-nxg-2.0.0-g-stdlib-bin (>= 5.2.0.32842), jki-jkistatemachine-labview-jkistatemachine-src-2
Description: The JKI State Machine™ is a template you can use for quickly creating your own LabVIEW applications. This is the very same template that is used by the JKI team, nearly every day, and is the result of years of refinement by our team of LabVIEW experts.
DisplayName: JKI State Machine Templates
Essential: no
Eula: eula-jki-license
Homepage: http://jki.net/state-machine
Maintainer: JKI <info@jki.net>
Package: jki-jkistatemachinetpl-labview-jkistatemachinetpl-src-2
Plugin: file
Priority: optional
Provides: 
Recommends: 
Section: Add-Ons
StoreProduct: no
Suggests: 
UserVisible: no
Version: 2.0.0.3